In [13]:
#Import pnadas and numpy
import pandas as pd
import numpy as np

In [14]:
# Open merged_final.csv as merged
merged = pd.read_csv('merged_final.csv')
print(merged.tail())

                  uid         id        phone email first_name last_name  \
2215  100002147680144  AG2004006  XXXXXXX1977   NaN      Diana    Galvis
2216  100003184453164  AG2004012  XXXXXXX1105   NaN      Nelly     Tapia
2217  100002147680144  AG2004009  XXXXXXX1977   NaN      Diana    Galvis
2218  100002147680144  AG2004023  XXXXXXX1977   NaN      Diana    Galvis
2219  100004284196397  AG2004007  XXXXXXX7995   NaN       Ivan   Herrera

      gender    birthday location hometown relationship_status        date  \
2215  female         NaN   Tulcán   Tulcán             Engaged  2021-06-11
2216  female  07/13/1961   Tulcán   Tulcán                 NaN  2021-06-11
2217  female         NaN   Tulcán   Tulcán             Engaged  2021-06-11
2218  female         NaN   Tulcán   Tulcán             Engaged  2021-06-11
2219    male         NaN   Tulcán   Tulcán              Single  2021-06-11

      quantity           price    brand    category              type  \
2215         1         $265.00    Eagle  Bicicletas             Paseo
2216         1       $1,300.00  Twitter  Bicicletas         Montañera
2217         2  $890.00$890.00  Twitter  Bicicletas         Montañera
2218         1       $1,350.00    Elite  Accesorios  Ciclosimuladores
2219         1         $285.00    Eagle  Bicicletas             Paseo

                                       detail
2215  Eagle City Bike Aro 700 Cuadro Aluminio
2216             Warrior Pro Aro 29En Carbono
2217              Storm 2.0 Aro 29 En Carbono
2218               CICLOSIMULADOR DIRETO XR-T
2219                     ARO RIN 29" ALUMINIO

In [15]:
# Encontrar nan values en merged
merged.isnull().sum()

uid                       0
id                        0
phone                     0
email                  2209
first_name                0
last_name                 0
gender                  117
birthday               2076
location                  0
hometown                335
relationship_status    1489
date                      0
quantity                  0
price                     0
brand                     0
category                  0
type                      0
detail                    0
dtype: int64

In [16]:
# Encontrar caracteres especiales en merged['first_name']
merged['first_name'].str.contains('[^a-zA-Z]').sum()

233

In [17]:
merged[merged['gender'].replace(np.nan,'').str.contains('[^a-zA-Z]')]

,uid,id,phone,email,first_name,last_name,gender,birthday,location,hometown,relationship_status,date,quantity,price,brand,category,type,detail
466,100005390410589,AG2004025,XXXXXXX2498,NaN,Andrea Fernanda,Chingal,เพศหญิง,09/30,Tulcán,Tulcán,หมั้นแล้ว,2021-08-07,1,$99.00,Shimano,Accesorios,Gafas,Gafas SHIMANO AEROLITE P CE-ARLP1
496,100004589221492,AG2004024,XXXXXXX4932,NaN,Mary,Bustos,เพศหญิง,NaN,Tulcán,"Chical, Carchi, Ecuador",NaN,2021-08-11,1,$75.00,Lazer,Casco,Sport,CASCO JACKAL /MIPS
889,100005390410589,AG2004025,XXXXXXX2498,NaN,Andrea Fernanda,Chingal,เพศหญิง,09/30,Tulcán,Tulcán,หมั้นแล้ว,2021-08-07,1,$99.00,Shimano,Accesorios,Gafas,Gafas SHIMANO AEROLITE P CE-ARLP1
919,100004589221492,AG2004024,XXXXXXX4932,NaN,Mary,Bustos,เพศหญิง,NaN,Tulcán,"Chical, Carchi, Ecuador",NaN,2021-08-11,1,$75.00,Lazer,Casco,Sport,CASCO JACKAL /MIPS
1487,100005390410589,AG2004025,XXXXXXX2498,NaN,Andrea Fernanda,Chingal,เพศหญิง,09/30,Tulcán,Tulcán,หมั้นแล้ว,2021-08-07,1,$99.00,Shimano,Accesorios,Gafas,Gafas SHIMANO AEROLITE P CE-ARLP1
1517,100004589221492,AG2004024,XXXXXXX4932,NaN,Mary,Bustos,เพศหญิง,NaN,Tulcán,"Chical, Carchi, Ecuador",NaN,2021-08-11,1,$75.00,Lazer,Casco,Sport,CASCO JACKAL /MIPS
1977,100005390410589,AG2004025,XXXXXXX2498,NaN,Andrea Fernanda,Chingal,เพศหญิง,09/30,Tulcán,Tulcán,หมั้นแล้ว,2021-08-07,1,$99.00,Shimano,Accesorios,Gafas,Gafas SHIMANO AEROLITE P CE-ARLP1
2007,100004589221492,AG2004024,XXXXXXX4932,NaN,Mary,Bustos,เพศหญิง,NaN,Tulcán,"Chical, Carchi, Ecuador",NaN,2021-08-11,1,$75.00,Lazer,Casco,Sport,CASCO JACKAL /MIPS

In [18]:
# Replace 'เพศหญิง' in merged['gender'] to 'female'
merged['gender'] = merged['gender'].replace('เพศหญิง','female')
merged[merged['gender'].replace(np.nan,'').str.contains('[^a-zA-Z]')]
merged[merged['last_name'].replace(np.nan,'').str.contains('[^a-zA-Z]')]

,uid,id,phone,email,first_name,last_name,gender,birthday,location,hometown,relationship_status,date,quantity,price,brand,category,type,detail
2,100001924592151,AG2004001,XXXXXXX8732,NaN,Jhon,Caiño,male,NaN,Tulcán,Tulcán,NaN,2021-06-01,2,$16.00$16.00,Shimano,Accesorios,Discos,Disco SHIMANO TX SM-RT10
4,100000396260059,AG2004015,XXXXXXX4510,NaN,Cristofer,Rodriguez Portilla,male,06/10/1986,Tulcán,Tulcán,Married,2021-06-01,1,$475.00,Giant,Bicicletas,Montañera,Talon 4 Aro 29 Aluminio
5,100004840385328,AG2004016,XXXXXXX6602,NaN,Ernesto Alexander,Rodriguez Guzman,male,NaN,Tulcán,Tulcán,Engaged,2021-06-01,1,"$1,250.00",Giant,Bicicletas,Ruta,Scr Aro 700 En Aluminio
25,100013912392087,AG2004001,XXXXXXX1808,NaN,Jaime Patricio,Guerrero Perez,male,NaN,Tulcán,NaN,NaN,2021-06-04,2,$16.00$16.00,Shimano,Accesorios,Discos,Disco SHIMANO TX SM-RT10
37,100003653432850,AG2004034,XXXXXXX6413,NaN,Mari Graciela,Paspuel Paillacho,female,NaN,Tulcán,Provinsi Carchi,NaN,2021-06-04,1,$15.00,Pro,Accesorios,Timones,TIMÓN PLT ERGO CARBÓN (RUTA)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,100011522199151,AG2004009,XXXXXXX8055,NaN,Homero,Estrada Martinez,male,NaN,Tulcán,Tulcán,NaN,2021-06-08,2,$890.00$890.00,Twitter,Bicicletas,Montañera,Storm 2.0 Aro 29 En Carbono
2206,100003543872585,AG2004011,XXXXXXX6305,NaN,Stiven,Cárdenas,male,NaN,Tulcán,Quito,Single,2021-06-09,1,"$1,299.00",Twitter,Bicicletas,Ruta,Steal Th Pro Aro 700 En Carbono
2208,100035772363023,AG2004032,XXXXXXX7924,NaN,Byron Armando,Polit Zambrano,male,NaN,Tulcán,"Quito, Ecuador",NaN,2021-06-09,1,$25.00,Pro,Accesorios,Timones,TIMÓN LT ALLOY (GRAVEL)
2209,100003543872585,AG2004032,XXXXXXX6305,NaN,Stiven,Cárdenas,male,NaN,Tulcán,Quito,Single,2021-06-09,1,$25.00,Pro,Accesorios,Timones,TIMÓN LT ALLOY (GRAVEL)
2211,100002256421273,AG2004004,XXXXXXX4847,NaN,Rocio,Pantoja Cadena,female,NaN,Tulcán,Tulcán,NaN,2021-06-10,2,$35.00$35.00,Shimano,Accesorios,Discos,Disco SHIMANO XTR SM-RT99

In [19]:
# Eliminar caracteres especiales usando str.maketrans
a,b = 'áéíóúüñÁÉÍÓÚÜÑ','aeiouunAEIOUUN'
trans = str.maketrans(a,b)

# Aplicar translate
merged['first_name'].str.translate(trans)
merged['first_name'] = merged['first_name'].str.translate(trans)
merged['last_name'] = merged['last_name'].str.translate(trans)
merged['birthday'] = merged['birthday'].str.translate(trans)
merged['location'] = merged['location'].str.translate(trans)
merged['hometown'] = merged['hometown'].str.translate(trans)
merged['relationship_status'] = merged['relationship_status'].str.translate(trans)
merged['brand'] = merged['brand'].str.translate(trans)
merged['category'] = merged['category'].str.translate(trans)
merged['type'] = merged['type'].str.translate(trans)
merged['detail'] = merged['detail'].str.translate(trans)

In [20]:
# Guardar merged en csv
merged.to_csv('merged_final_clean.csv', index=False)

In [21]:
# Replace หมั้นแล้ว to Engaged in merged["relationship_status"]
merged['relationship_status'] = merged['relationship_status'].replace({'หมั้นแล้ว':'Engaged', 'มีแฟนแล้ว':'In a relationship','Berhubungan sipil':'In a civil union','Rumit':"It's complicated"})

In [22]:
merged['price'] = [s[s.find("$")+1:s.find(".")] for s in merged['price']]
# Print describe for price
merged['price'].head(10)

0      259
1      265
2       16
3       75
4      475
5    1,250
6       25
7       85
8      475
9      499
Name: price, dtype: object

In [23]:
merged['price'] = merged['price'].str.replace(",","").str.extract(r'([0-9]+)', expand = False)
merged['price'] = merged['price'].astype(float)
merged['price'].describe()

count    2220.000000
mean      383.631081
std       462.453095
min         8.000000
25%        40.000000
50%       130.000000
75%       499.000000
max      1350.000000
Name: price, dtype: float64

In [24]:
merged.to_csv('compradores_clean.csv', index=False)